/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(242, 242, 242);
}

header {
    background-color: rgb(0, 55, 103);
    color: white;
    padding: 35px 0;
}

header .logo {
    font-size: 24px;
    margin-left: 20px;
    float: left;
}

header nav ul {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: white
}